<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title><%= title%></title>
</head>
<body>
    <main-container>
        <main-menu><%- include('../partials/navbar'); %></main-menu>
        <main-header><%- include('../partials/header'); %></main-header>
        <main-body>
        <small>This is using ejs layout</small>
        <%- body %>
        </main-body>
        <main-footer><%- include('../partials/footer'); %></main-footer>
    </main-container>
</body>
</html>